Repository kogeletey/karzok: changes, and which lefthook commands are due for each by the changed paths.
All: format, stylelint

lefthook.yml:

pre-commit:
  commands:
    format:
      tags: format
      glob: "**/*.{toml,yml,json,scss,ts}"
      run: pnpx prettier -w {staged_files}
    stylelint:
      tags: frontend style
      glob: "sass/**/*.scss"
      run: pnpx stylelint {staged_files}

chore(format): all files
  .github/workflows/build.yml
  .github/workflows/container-push.yml
  .github/workflows/mirror.yml
  .prettierrc.toml
  content/_index.md
  content/alert.toml
  content/header.toml
  dist/ctl/.golangci.toml
  dist/package.json
  helpers/alert-close.ts
  helpers/mode-switch.ts
  helpers/search.ts
  helpers/setting-katex.ts
  helpers/setting-mermaid.ts
  package.json
  pnpm-lock.yaml
Due: format

maintenance: change toc layout to div and sidebar to aside
  sass/404.scss
  sass/_base.scss
  sass/_special-pages.scss
  sass/elements/_alert.scss
  sass/elements/_aside.scss
  sass/elements/_dropdown.scss
  sass/elements/_footer.scss
  sass/elements/_header.scss
  sass/elements/_search.scss
  sass/elements/_sidebar.scss
  sass/elements/_toc.scss
  sass/page.scss
  sass/section.scss
  templates/404.html
  templates/macros/folio.html
  templates/section.html
Due: format, stylelint

chore(helpers): rename to islands
  islands/alert-close.ts
  islands/mode-switch.ts
  islands/search.ts
  islands/setting-katex.ts
  islands/setting-mermaid.ts
Due: format

chore(rename): ctl to tool
  dist/package.json
  dist/tool/.golangci.toml
  dist/tool/config.example.toml
  dist/tool/go.mod
  dist/tool/go.sum
  dist/tool/main.go
  package.json
Due: format

fix: line-height in article
  sass/_article.scss
Due: format

chore(security): update mermaid to a next version but fix security issues d3
  package-lock.json
  package.json
Due: none

feat: remove disttool and dist folder, change styles for article and index, home
  dist/package-lock.json
  dist/package.json
  dist/tool/.golangci.toml
  dist/tool/config.example.toml
  dist/tool/go.mod
  dist/tool/go.sum
  dist/tool/main.go
  sass/_article.scss
  sass/home.scss
  sass/index.scss
  sass/section.scss
Due: format

maintenance: return karzok package json files
  dist/package-lock.json
  dist/package.json
Due: format

feat: start a redesign home page
  sass/home.scss
  sass/index.scss
  templates/index.html
Due: format

feat(styles): change of article and page
  sass/_article.scss
  sass/page.scss
Due: format

maintenance(format): markdown syntax fix
  content/reference/markdown-syntax.md
Due: none

maintenance(update): all packages for new version
  dist/package.json
  package.json
  pnpm-lock.yaml
Due: format

maintenance(update): npm dist version
  dist/package-lock.json
  dist/package.json
Due: format

chore: change pre-commit to pre-push, ignore config in dist folder and remove go-specific commands
  .gitignore
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(packages): remove prettier
  .prettierrc.toml
  lefthook.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore(fix): deps of dist
  dist/package-lock.json
Due: format

feat(types): starting typing typescript
  islands/alert-close.ts
  islands/search.ts
Due: format

feat(styles): desktop home page layout
  sass/home.scss
  templates/index.html
Due: format

maintenance(pre-push): change rules of files.
  config.toml
  lefthook.yml
  sass/_base.scss
  sass/elements/_header.scss
  sass/home.scss
  sass/index.scss
  sass/page.scss
Due: format, stylelint

chore(up): update swc to new version
  package.json
  pnpm-lock.yaml
Due: none

feat(intl): made a variable and supported multilingual support for description
  config.toml
  templates/base.html
  templates/index.html
Due: none

fix(styles): imporove title
  sass/home.scss
  sass/index.scss
Due: format

chore(fix): change license date, adding swc shema and change code_of_conduct
  .swcrc
  LICENSE
  README.md
Due: none

chore(fix): sidebar fix indents
  sass/elements/_sidebar.scss
Due: format, stylelint

chore(styles): moved article to elements and separate
  sass/elements/_article-navigation.scss
  sass/elements/_article.scss
  sass/page.scss
  sass/section.scss
Due: format, stylelint

feat(blog): copy of main page and change with blog specific
  templates/blog.html
Due: none

feat(blog): starting a separate mobile header and change of standart section html
  templates/blog-page.html
  templates/blog-section.html
  templates/macros/common.html
  templates/macros/mobile-header.html
  templates/section.html
Due: none

feat(content): generate a blog lorem and reference for testing.
  content/blog-reference/_index.md
  content/blog-reference/more-ranting.md
  content/blog-reference/zola-is-nice.md
  content/reference/_index.md
  sass/elements/_article.scss
  sass/section.scss
Due: format, stylelint

chore(ci): starting write container.yml
  .woodpecker/container.yml
Due: format

chore(up): update dependencies of karzok
  package.json
  pnpm-lock.yaml
Due: none

ci: change ci to woodpecker
  .github/workflows/build.yml
  .github/workflows/container-push.yml
  .github/workflows/mirror.yml
  .woodpecker.yml
  .woodpecker/container.yml
Due: format

ci: remove mirror job
  .woodpecker.yml
Due: none

rename(dist): Dockerfile to Containerfile
  dist/Containerfile
Due: none

ci: tags change to auto_tah and change to global variable branch
  .woodpecker.yml
Due: none

ci: change image build with npm in woodpecker
  .woodpecker.yml
Due: none

ci: change zola exectubale
  .woodpecker.yml
  package.json
Due: none

doc: readme reworked, fixed links to codeberg and changed links to documentation
  README.md
Due: none

chore(up): update dependencies to last version and fixed zola-bin, see https://github.com/U-C-S/zola-npm/releases/tag/linux%2Fv0.17.3
  .woodpecker.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): remove and add zola-bin
  .woodpecker.yml
  package.json
  pnpm-lock.yaml
Due: none

chore(update): new version of packages
  .woodpecker.yml
  package.json
  pnpm-lock.yaml
Due: none
